@use './scrollbar.scss';
@use './transition-animations.scss';
@use './datatable-styles.scss';

$light-page: lighten($primary, 35%);

.body--light {
  background: black;
  background: linear-gradient($light-page, darken($light-page, 10%));
  background-attachment: fixed;
}

@media (max-width: 599.98px) {
  .q-page.q-layout-padding {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .q-layout-padding {
    padding: 12px;
  }
}
@media (min-width: 600px) and (max-width: 1439.98px) {
  .q-layout-padding {
    padding: 10px;
  }
}

.mobile {
  .q-page.q-layout-padding {
    padding: 0;
  }
}

// links

a {
  text-decoration: none;
  color: inherit;
}

// background

.bg-blurred {
  backdrop-filter: blur(10px);
}

.q-drawer {
  .q-drawer__content {
    overflow: initial;
  }

  background: transparent;

  &.q-drawer--on-top {
    .body--dark & {
      background: transparentize($color: $dark-page, $amount: 0.25);
    }
    .body--light & {
      background: transparentize($color: $almost-white, $amount: 0.55);
    }
  }
}

@mixin generic-border {
  .body--light & {
    border: 1px solid $separator-color;
  }
  .body--dark & {
    border: 1px solid $separator-dark-color;
  }
}

@mixin generic-coolshadow {
  .body--light & {
    box-shadow: $coolshadow;
  }
  .body--dark & {
    box-shadow: $coolshadowmore;
  }
}

@mixin thic-card {
  .body--light & {
    @media (min-width: 1024px) {
      box-shadow: 2px 2px #ddd, 4px 4px #ddd, 5px 5px 4px rgba(0, 0, 0, 25%);
    }
    @media (max-width: 1023px) {
      box-shadow: 0px 2px #ddd, 0px 4px #ddd, 0px 5px 4px rgba(0, 0, 0, 25%);
    }
    background-color: $almost-white;
  }
  .body--dark & {
    @media (min-width: 1024px) {
      box-shadow: 2px 2px lighten($dark, 3%), 4px 4px lighten($dark, 3%),
        $coolshadowmore;
    }
    @media (max-width: 1023px) {
      box-shadow: 0px 2px lighten($dark, 3%), 0px 4px lighten($dark, 3%),
        $coolshadowmore;
    }
  }
}

.coolshadow {
  box-shadow: $coolshadow;
}

.coolshadowmore {
  box-shadow: $coolshadowmore;
}

// q-card
.q-card {
  @include thic-card();
}

// q-stepper
.q-stepper {
  @include thic-card();
}

// q-menu
.q-menu {
  @include thic-card();

  & > .q-virtual-scroll__content {
    padding: $generic-border-radius 0;
    border-radius: $generic-border-radius;
    background: black;

    .body--light & {
      background: white;
    }
  }
}

// menu and expansion-item
$menu-item-height: 40px;

.menu-navigation {
  .q-expansion-item.border-radius {
    .q-item {
      border-radius: $generic-border-radius / 2;
    }
  }

  .active-menu-item {
    background: rgba(darken($secondary, 10%), 0.2);

    .body--light & {
      background: rgba(lighten($secondary, 20%), 0.2);
    }
  }

  .semi-compact-q-item {
    .q-item {
      min-height: $menu-item-height;
    }
  }

  &.filled-menu-items {
    .menu-link:hover {
      background: $primary;
    }

    .q-item,
    .menu-link {
      background: black;

      &.exact-active-menu-item {
        background: darken($primary, 20%);

        .body--light & {
          background: lighten($warning, 20%);
        }
      }

      .body--light & {
        .menu-link:hover {
          color: white;
          background: $primary;
        }

        background: $almost-white;
      }
    }
  }
}

// q-field
.q-field {
  &.q-field--standout {
    &.q-field--highlighted {
      .q-field__control {
        color: white;
        background: $secondary;

        .q-field__control-container > .q-field__native,
        .q-field__append {
          color: white;
        }
      }
    }
  }
}

// adaptive-card

.adaptive-card {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .scroll-section {
    overscroll-behavior-inline: contain;
    overflow: auto;
  }
  .actions-row {
    height: max-content;

    .body--light & {
      background: transparent;
    }
  }
}

// text color

.auto-text-color {
  .body--light & {
    color: $dark;
  }

  .body--dark & {
    color: $almost-white;
  }
}

.q-drawer__backdrop {
  background: transparent !important;
}

.q-list {
  &.listpadding {
    padding-top: $generic-border-radius;
    padding-bottom: $generic-border-radius;
  }
}

.no-user-select {
  &,
  &-wildcard * {
    // user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.overflow-clip {
  overflow: clip;
}

$bg-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'accent': $accent,
  'dark': $dark,
  'dark-page': $dark-page,
  'positive': $positive,
  'negative': $negative,
  'info': $info,
  'warning': $warning,
);

.semi-transparent {
  backdrop-filter: blur(8px);
  @each $name, $color in $bg-colors {
    .body--dark &.bg-#{$name} {
      background: rgba(darken($color, 10%), 0.7) !important;
    }
    .body--light &.bg-#{$name} {
      background: rgba(lighten($color, 10%), 0.7) !important;
    }
  }
}

.bg-page {
  .body--dark & {
    background: $dark-page;
  }
  .body--light & {
    background: $light-page;
  }
}

// fix for mobile firefox when datatable is fullscreen.
// I seriously have no idea why. but this fixes it.
.fixed-full {
  height: 100vh;
  width: 100vw;
}

// qstepper
.adaptive-stepper {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  .q-stepper__content {
    flex-grow: 1;
    overflow-y: auto;

    .q-stepper__step-inner {
      padding: 16px;
    }
  }

  &.q-stepper--horizontal {
    .q-stepper__nav {
      padding: 8px;
    }
  }

  &.q-stepper--vertical {
    .q-stepper__nav {
      padding: 8px;
    }
  }
}
