@use './scrollbar.scss';
@use './transition-animations.scss';

// app global css in SCSS form

.body--light {
  background           : black;
  background           : linear-gradient(hsl(209, 56%, 82%), hsl(187, 42%, 67%)); // background: hsl(160, 5%, 80%);
  background-attachment: fixed;
}


// links

a {
  text-decoration: none;
  color          : inherit;

  &:hover {
    color: $primary;
  }
}

// background

.bg-blurred {
  backdrop-filter: blur(10px);
}

.q-drawer {
  .q-drawer__content {
    overflow: initial;
  }

  background: transparent;

  &.q-drawer--on-top {
    background: transparentize($color: $primary, $amount: 0.85);
  }
}

// q-card
.q-card {

  .body--dark & {
    box-shadow: $coolshadow-dark;
  }

  .body--light & {
    box-shadow      : $coolshadow;
    background-color: $almost-white;
  }
}

// q-menu
.q-menu {
  box-shadow: $coolshadow;

  .body--dark & {
    box-shadow: $coolshadow-dark;
  }

  &>.q-virtual-scroll__content {

    padding      : $generic-border-radius 0;
    border-radius: $generic-border-radius;
    background   : black;

    .body--light & {
      background: white;
    }
  }
}

// q-field
.q-field {
  &.q-field--standout {
    &.q-field--highlighted {
      .q-field__control {
        color     : white;
        background: $secondary;

        .q-field__control-container>.q-field__native,
        .q-field__append {
          color: white;
        }
      }
    }
  }
}

// adaptive-card

.adaptive-card {
  width         : 100%;
  max-height    : max(100%, 200px);
  display       : flex;
  flex-direction: column;
  overflow      : hidden;

  .scroll-section {
    overflow-y: auto;
  }

  .actions-row {
    height: max-content;

    .body--light & {
      background: transparent;
    }
  }
}


// text color

.auto-text-color {
  .body--light & {
    color: $dark;
  }

  .body--dark & {
    color: $almost-white;
  }
}
