// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0088c7;
$secondary : #26A69A;
$accent    : #b02755;

$dark      : #181818;
$dark-page : #0f0f0f;

$positive : #21BA45;
$negative : #aa2333;
$info     : #15b0cf;
$warning  : #F2C037;

// custom css
$dark-2                : #212121;
$generic-border-radius : 10px;
$button-border-radius  : 10px;
$almost-white          : #f9f9f9;
$coolshadow            : 0 5px 12px rgba(0, 0, 0, 7%),
0 15px 25px rgba(0, 0, 0, 7%);
$coolshadow-dark : 0 0 5px 2px rgba(255, 255, 255, 7%),
0 15px 25px rgba(255, 255, 255, 4%);
