@import './quasar.variables.scss';


body.desktop {

  .compact-scrollbar {

    &,
    * {

      scrollbar-width: thin;
      scrollbar-color: $primary transparent;

      &::-webkit-scrollbar {
        width : 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }

    &:hover,
    *:hover {
      &::-webkit-scrollbar-thumb {
        background: $primary;
        opacity   : 1;
      }

      &::-webkit-scrollbar-track {

        background: transparentize($color: $primary, $amount: 0.85);
      }
    }
  }
}
