@import './quasar.variables.scss';

body.desktop {
  .compact-scrollbar {
    &,
    * {
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
      &:hover {
        ::-webkit-scrollbar-thumb {
          border: 2px solid rgba(0, 0, 0, 0);
          background-color: $primary;
        }
      }
    }
    scrollbar-width: thin;
    scrollbar-color: $primary transparent;
    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
      border: 3px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: $primary;
    }

    ::-webkit-scrollbar-thumb:active {
      border: 1px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }
}

body.desktop {
  .no-width-scrollbar {
    &,
    * {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}
